.m-input
{
    height: 36px;
    border-color: #bbbbbb;
    border-width: 1px;
    border-radius: 4px;
    color: #000;
    outline: none ;
    border-style: solid;
    min-width: 60px;
    padding-left:10px ;
    border: none;
}
.m-input:focus
{
    outline: 1px solid rgb(3, 184, 3);
}
.container-menu-content-input
{
    font-family: Notosans Italic;
    width: 250px;
}
.container-menu-content-input-icon
{
    position: absolute;
       background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -1041px -89px;
    width: 22px;
	height: 22px;
    right: 0;
}
.m-input-employee
{
    border: 1px solid #babec5;
}