.a-radios {
    display: flex;
    height: 40px;
    align-items: center;
}

.radio {
    display: flex;
}

.radio + .radio {
    margin-left: 20px;
}

.radio.active .radio-btn{
    border: 1px solid rgb(1, 143, 1);
}

.radio.active .radio-point{
    background-color: rgb(1, 143, 1);
}

.radio-btn {
    width: 18px;
    height: 18px;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.radio-point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
