

.sidebar {
  width: 178px;
  background-color: rgb(54, 54, 54);
}
.sidebar_header {
  display: flex;
  height: 48px;
  align-items: center;
  padding: 0 16px ;
}
.more {
  width: 16px;
  height: 16px;
  background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -428px -92px;
  margin-right: 10px;
  margin-left: 12px;
}
.logo-box {
  width: 88px;
  height: 30px;
  background-image: url("../../assets/img/Logo_Module_TiengViet_White.66947422.svg");
  background-repeat: no-repeat;
  background-size: contain;
  flex: 1 1 0%;
}
.sidebar_list_wrap {
  color: #fff;
  padding-top: 12px;
}
.sidebar_list_item {
  display: flex;
  height: 40px;
  align-items: center;
  cursor: pointer;
  transition: 0.25s ease;
  position: relative;
  padding-left: 18px;
  text-decoration: none;
  color: #fff;
}
.icon-box {
  width: 22px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat;
}
.sidebar_list_item:hover {
  background-color: #58595d;
}
.router-link-exact-active {
  background-color: #58595d;
  position: relative;
}

.router-link-exact-active::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 6px;
    background-color: #2ca01c;
}
.sidebar_list_item:hover .show-tooltip{
  display: flex;
}