.overlay-body-informationEmployee-left-item
{
    display: flex;
}
.m-employee-Text
{
    display: flex;
    flex-direction: column;
}
.m-employee-Text label{
    font-family: Notosans Bold;
}

.aligin-center {
    text-align: center;
  }
  
  .batchExecution {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px 16px;
    border-radius: 20px;
    border: 2px solid #3b3c3f;
    position: relative;
    cursor: pointer;
  }
  .batchExecution_font
  {
    font-size: 13px;
    font-weight: 600;
  }
  
  .batchExecution:hover {
    background-color: #d2d3d6;
  }
  
  .batchExecution span {
    padding-right: 8px;
  }
  
  .batchExecution-icon {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -564px -365px;
    width: 8px;
    height: 5px;
  }
  
  .listBatchExecution {
    position: absolute;
    right: 14px;
    bottom: -2px;
    padding: 8px 40px;
    transform: translate(0, 100%);
    z-index: 2;
    border-radius: 2px;
    background-color: white;
    box-shadow: 1px 1px 4px rgb(121 121 121);
  }
  .employ__export {
    background: url("../../assets//img/Sprites.64af8f61.svg") no-repeat -705px -202px;
    width: 23px;
    height: 20px;
    cursor: pointer;
  }
  .employ__export:hover {
    background: url("../../assets//img/Sprites.64af8f61.svg") no-repeat -705px -258px;
    width: 23px;
    height: 20px;
  }